<div *ngIf="View === null; else view">
  <p>View not assigned.</p>
  <a [routerLink]="''" [queryParams]="{ view: 'About_DetailView' }">About_DetailView</a>
</div>

<ng-template #view>

  <div>
    <h1>About Items</h1>

    <static-image [item]="View!.Items['Logo']"></static-image>
    <static-text [item]="View!.Items['Title']"></static-text>
    <static-text [item]="View!.Items['Description']"></static-text>

    <h2>Action Container as View Item</h2>
    <actions-container [item]="View!.Items['about-actions']"></actions-container>

    <h2>Action Container in Template</h2>
    <actions-container [actions]="View!.Actions" container="about-actions"></actions-container>
  </div>

  <div>
    <h1>navigation container</h1>
    <actions-container-navigation [actions]="View!.Actions" container="main-navigation"></actions-container-navigation>
  </div>

  <div>
    <router-outlet>content</router-outlet>
  </div>

  <div>
    footer container
  </div>

  <a [routerLink]="''" [queryParams]="{ view: 'About_DetailViewX' }">About_DetailViewX</a>
</ng-template>


